.bg-green{
    background-color: #003c25;
  }
  
  #root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .contenedorInicial{
    flex-grow: 1;
  }

  #contenBanner{
    height: 500px;
    width: 100%;
  }
  
  #imgBanner{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .btnColor{
    background-color: #014d2f ;
    border-color: #014d2f;
  }
  
  .fila{
  
    height: 400px;
    width: 100%;
    border-radius: 10px;
  
  }
  
  .col{
    width: 50%;
    height: 400px;
    
  }
  .col p{
    text-align: justify;
  }
  
  /* #imgDetalle{
    
    border-radius: 10px;
    
    width: 100%;
    height: 100%;
    object-fit: cover;
  }   */